env/
dev.env
__pycache__
purbeurre/__pycache__
purbeurre/purbeurre/__pycache__
purbeurre/webapp/__pycache__
purbeurre/webapp/tests/__pycache__
purbeurre/webapp/tests/.pytest_cache
purbeurre/webapp/modules/__pycache__
purbeurre/webapp/modules/api/__pycache__
purbeurre/webapp/modules/api/analysis/__pycache__
purbeurre/webapp/modules/api/requests_library/__pycache__
purbeurre/webapp/modules/api/tests/__pycache__
purbeurre/webapp/modules/api/tests/.pytest_cache
purbeurre/webapp/modules/psql/__pycache__
purbeurre/webapp/modules/psql/tests/__pycache__
purbeurre/webapp/modules/psql/tests/.pytest_cache
purbeurre/webapp/modules/tools/__pycache__
purbeurre/webapp/modules/tools/tests/__pycache__
purbeurre/webapp/modules/tools/tests/.pytest_cache
purbeurre/usermanage/__pycache__
purbeurre/usermanage/tests/__pycache__
purbeurre/usermanage/tests/.pytest_cache